{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}

    <table>
        <tr>
            <td class= "text_in_bottom"> ID </td>
            <td class= "text_in_bottom"> LAST NAME </td>
            <td class= "text_in_bottom"> FIRST NAME </td>
            <td class= "text_in_bottom"> SUPERIEUR </td>
            <td class="verticalite"> <div><span>COFIDUR / INTERIM</span></div></td>

            <!-- Tous les types de formations -->
            {% for formation in tab_formations %}
                <td class="verticalite"> <div>{{ formation }} </div></td>
            {% endfor %}

        </tr>

        {% for operator in tab_operators %}
            <tr>
                <td> TODO </td>
                <td> {{ operator.lastname }} </td>
                <td> {{ operator.firstname }} </td>
                <td> SUPERIEUR </td>
                <td> STATUT </td>

                <!-- TODO : cases à colorer -->
                {% for formation in tab_formations %}
                    {% set caseCompleted= "false" %}
                    {% for forme_formateur in liaison %}
                        {% if((operator.lastname == forme_formateur[0]) and (formation == forme_formateur[1])) %}
                            <td class="formedValidated"> {{ forme_formateur[2] }} </td>
                            {% set caseCompleted= "true" %}
                        {% endif %}
                    {% endfor %}
                    {% if ("false" == caseCompleted) %}
                        <td class="formedNotValidated">X</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

    </table>

{% endblock %}
{% block sidebar %}
<h1>Légende des couleurs :</h1>
<br/>
    <table>
        <tr>
            <td>Code couleur</td>
            <td>Statut</td>
        </tr>
        <tr>
            <td class="formedNotValidated"></td>
            <td>Formé non habilité</td>
        </tr>
        <tr>
            <td class="learningFormation"></td>
            <td>En Formation</td>
        </tr>
        <tr>
            <td class="futureFormation"></td>
            <td>Prévision Formation</td>
        </tr>
        <tr>
            <td class="formedValidated"></td>
            <td>Habilité</td>
        </tr>
        <tr>
            <td class="formedToTeach"></td>
            <td>Habilité à former(Tuteur)</td>
        </tr>

    </table>
{% endblock %}