{% extends 'AppCofidurBundle::base.html.twig' %}
{% block title %}
Cofidur EMS {{ status_text }}
{% endblock %}

{% block body %}
	<h1 class="error">Vous n'avez pas le droit d'accéder à cette page<br/>
    (Erreur 403)</h1>
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<p class="error">Seules les personnes avec le bon niveau d'accréditation sont autorisées à y accéder. <a href="/">Retour à l'accueil</a></p>
	{% else %}
    <p class="error">Seules les personnes connectées et avec le bon niveau d'accréditation sont autorisées à y accéder.</p>
	<p class="error">Nous vous invitons à essayer de <a href="{{ path('AppCofidurBundle_login') }}">vous (re)connecter</a><p>
	{% endif %}
	<p class="error">En cas de problème, <a href="/contact">contactez un administrateur</a></p>
{% endblock %}

{% block sidebar_nav %}
	<h2><em><a href="javascript:history.go(-1)">Retour</a></em></h2>
	{{ parent() }}
{% endblock %}
