# Cache and logs (Symfony2)
/app/cache/
/app/logs/*
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Parameters
/app/config/parameters.yml

# Managed by Composer
/app/bootstrap.php.cache
/bin/*
/vendor/

# Assets and user uploads
/web/bundles/framework
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# Sensitive configuration files (generated)
web/config.php

#PHP Storm
.idea/*
!.idea/cofidur_gestion_formation.iml
