{% extends 'AppCofidurBundle::base.html.twig' %}
{% block title %}
Cofidur EMS  {{ status_text }}
{% endblock %}

{% block body %}
	<h1 class="error">Désolé, la page demandée n'a pas été trouvée. Il peut s'agir d'une erreur de notre part<br/>
    (Erreur 404)</h1>
	<p class="error">Vérifiez qu'il n'y pas d'erreur dans l'URL. Sinon, <a href="{{ path('AppCofidurBundle_homepage') }}">retournez à l'accueil</a>.</p>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% else %}
    <p class="error">Nous vous invitons à essayer de <a href="{{ path('AppCofidurBundle_login') }}">vous (re)connecter</a><p>
    {% endif %}
    <p class="error">En cas de problème, <a href="/contact">contactez un administrateur</a></p>
{% endblock %}

{% block sidebar_nav %}
    <h2><em><a href="javascript:history.go(-1)">Retour</a></em></h2>
    {{ parent() }}
{% endblock %}
