{% extends 'AppCofidurBundle::base.html.twig' %}
{% block title %}
Cofidur EMS {{ status_text }}
{% endblock %}

{% block body %}
    <h1>Une erreur est survenue</h1>
	<h2 class="error">Identifiant de l'erreur : "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}
