{% extends 'AppCofidurBundle::Page/User/user.html.twig' %}

{% block body %}
    <h1>Ajout d'un utilisateur</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
