{# app/Resources/views/user/add.html.twig #}

<form method=POST>
<h1> Add a user </h1>

<table>
<tr>
	<td> User last name </td>
	<td> {{ user_lastname|upper }} </td>
</tr>
<tr>
	<td> User first name </td>
	<td> {{ user_firstname|upper }} </td>
</tr>
</form>
