{# app/Resources/views/operator/add.html.twig #}

<form method=POST>
<h1> {{ title }} </h1>

<table>
<tr>
	<td class="dark-blue"> Operator ID : </td>
	<td> {{ id }} </td>
</tr>
<tr>
	<td> Operator last name : </td>
	<td> {{ lastname|upper }} </td>
</tr>
<tr>
	<td> Operator first name : </td>
	<td> {{ firstname|upper }} </td>
</tr>
</form>
