{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block title %}Admin{% endblock%}

{% block body %}
    <header>
        <h1>Admin page</h1>
    </header>
    <article>
        <p>Admin page !</p>
    </article>
{% endblock %}
