{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block title %}Admin{% endblock%}

{% block body %}
    <fieldset>
        <legend>
          <h1>Admin page</h1>
        </legend>
        <p>Admin page !</p>
    </fieldset>
{% endblock %}
