{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contactez nous</h1>
    </header>
    <a href="http://www.groupe-cofidur.com/"> > > > Website < < < </a>

{% endblock %}