{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <fieldset>
        <legend>
            <h1>Page de contact</h1>
        </legend>
        <fieldset class="contact_fieldset">
            <legend>
                <h1>L'entreprise</h1>
            </legend>
            Site web du groupe Cofidur : <a href="http://www.groupe-cofidur.com/"> http://www.groupe-cofidur.com/ </a><br/>
            Site web de Cofidur EMS : <a href="http://www.cofidur-ems.com/"> http://www.cofidur-ems.com/ </a><br/>
        </fieldset>

        <fieldset class="contact_fieldset">
            <legend>
                <h1>GitHub</h1>
            </legend>
            GitHub du projet : <a href="https://github.com/TheGuysBrushes/cofidur_gestion_formation">https://github.com/TheGuysBrushes/cofidur_gestion_formation </a><br/>
        </fieldset>

        <fieldset class="contact_fieldset">
            <legend>
                <h1>Les développeurs</h1>
            </legend>
            DAVID Florian : <a href="mailto:florian.david@etud.univ-angers.fr?subject=projet-cofidur"> florian.david@etud.univ-angers.fr </a> <br/>
            DE LEEUW Valérian : <a href="mailto:valerian.deleeuw@etud.univ-angers.fr?subject=projet-cofidur"> valerian.deleeuw@etud.univ-angers.fr </a> <br/>
            GARNIER Antoine : <a href="mailto:antoine.garnier@etud.univ-angers.fr?subject=projet-cofidur"> antoine.garnier@etud.univ-angers.fr </a> <br/>
        </fieldset>
    </fieldset>

{% endblock %}
