body {
	line-height: 1;
	font-family: 'Cambria', sans-serif;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 15px;
}
.clear { clear: both; }

#wrapper { margin: 10px auto; width: 1000px; }
#wrapper a { text-decoration: none; color: #00628A; }
#wrapper span.highlight { color: #00628A; }

#header { margin-bottom: 20px; }
#header .top { border-bottom: 1px solid #ccc; margin-bottom: 10px; }
#header ul.navigation { list-style: none; text-align: right; }
/*#header .navigation li { display: inline }*/
#header .navigation li a { padding: 10px 15px; border-left: 1px solid #ccc; }
#header h2 { font-family: 'Cambria', cursive; font-size: 92px; text-align: center; line-height: 110px; }
#header h2 a { color: #000; }
#header h3 { text-align: center; font-family: 'Cambria', cursive; font-size: 24px; margin-bottom: 20px; font-weight: normal; }

.main-col { width: 700px; float: left; border-right: 1px solid #ccc; padding: 20px; margin-bottom: 20px; }
.sidebar { width: 239px; padding: 10px; display: inline-block; }

.main-col a { color: #F48A00; }
.main-col h1,
.main-col h2
    { line-height: 1.2em; font-size: 32px; margin-bottom: 10px; font-weight: normal; color: #00628A; }
.main-col p { line-height: 1.5em; margin-bottom: 20px; }

#footer { border-top: 1px solid #ccc; clear: both; text-align: center; padding: 10px; color: #aaa; }

img {
	width: 200px;
	height: auto;
	padding: 5%;
}

.main_header {
	text-align: center;
}

/* tableaux */
table{
	border-collapse: collapse;
}
td, th{
	text-align: center;
	border: 1px solid black;
	padding: 5px;
}

th{
    background-color:#e1e1e1;
    font-weight: bold;
    cursor: default;
}

/* form */
label{
	display:block;
	width:30%;
	float:left;
}

.page_title {
	text-align: center;
}

/*used for the first headers of the skill matrix*/
.text_in_bottom {
	vertical-align: bottom;
	text-align: center;
}

/*** Verticalité des en-têtes de la matrice de compétence ***/

td.verticalite {
	height: 140px;
	white-space: nowrap;
}

td.verticalite > div {
	/* 360 - 90 = 270 */
	transform-origin: 50% 100%;
	transform:
			rotate(270deg)
			translate(-60px, 10px);
	width: 10px;
	text-align: center;
}
td.verticalite > div > span {
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
}

/*** Couleurs du tableau de formations ***/

.formedNotValidated {
	background-color: #F48A00;
}

.learningFormation {
	background-color: #C82829;
}

.futureFormation{
	background-color: #0088CC;
}

.formedValidated {
	background-color: #629755;
}

.formedToTeach {
	background-color: #ffcc00;
}

.text_legende {
	text-align: center;
}

/*** Menu déroulant ***/
#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {
    display: block;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}

#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
	background-color: white;
	/*margin-top: 1px;*/
	border-bottom: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/*** Spécifique aux pages ***/
.category_page {

}

.entete_category {
	background-color: lightgray;
}

.task_name {
	background-color: lightgray;
}

.task_order {
	background-color: lightgray;
}

.category {
	border: solid;
	border-color: green;
	padding: 5%;
}

.category_title {
	font-size: 200%;
}

.sidebar_link {
	font-size: 150%;
}
.category > ul > li {
	line-height: 1.3em;
	padding-top: 5px;
	margin-left: 10px;
	list-style-type: disc;
}

.sidebar_link_formation {
	border: solid;
	border-color: #66dd66;
}

.sidebar_link_category {
	border: solid;
	border-color: #0088CC;
}

/*Validation des taches d'une FFO*/
.task_validator {
	text-align: right;
}

/* Page operatorformateur/X */
.operatorformation_sumup {
	border: solid;
	border-color: cornflowerblue;
	margin-bottom: 3%;
}

.operatorformation_ids {
float: left;
}

.operatorformation_dates {
float: right;
}


.operatorformation_sumup > legend {
	font-size: 150%;
}

.operatorformation_task_tab {
	margin-bottom: 2%;
}

.operatorformation_informations {
	margin-bottom: 2%;
}

