body {
	line-height: 1;
	font-family: 'Cambria', sans-serif;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 15px;
}
.clear { clear: both; }

/* Conteneurs et entête et bas de la page */
.wrapper { margin: 10px auto; width: 1200px; }
.wrapper a, .navigation { text-decoration: none; color: #00628A; }
.connected a:hover { text-decoration: underline; }
.wrapper span.highlight { color: #00628A; }

#header { margin-bottom: 20px; }
#header .top { border-bottom: 1px solid #ccc; margin-bottom: 10px; }
.top .connected { float : left; }
.top ul.navigation { list-style: none; text-align: right; }
.top .navigation li a { padding: 10px 15px; border-left: 1px solid #ccc; }
.main_header p { text-align: center; font-family: 'Cambria', cursive; font-size: 24px; margin-bottom: 20px; font-weight: normal; }
.main_header { text-align: center; }

.content { max-width: 1000px; float: left; }
.main-col { min-width: 600px; max-width: 720px; padding: 20px; margin-bottom: 20px; }
.sidebar { min-width: 180px; max-width: 240px; padding-left: 10px; }
.main-col, .sidebar { border-left: 1px solid #ccc; }
.main-col, .sidebar, .sidebar_nav { float: left; }
.sidebar_nav { width: 180px; padding: 10px; }

/*.main-col a { color: #F48A00; }*/
.main-col p { line-height: 1.5em; margin-bottom: 20px; }

#footer { border-top: 1px solid #ccc; clear: both; text-align: center; padding: 10px; color: #aaa; }


/* Titres*/
h1 { font-size: 32px; margin-bottom: 8px; text-align: center; }
h2 { font-size: 28px; margin-bottom: 10px;  }
h1, h2 { line-height: 1.2em; font-weight: normal; color: #00628A; }

img {
	width: 200px;
	height: auto;
	padding: 5%;
}
/***
 Tableaux
 ***/
table{
	border-collapse: collapse;
}

td, th{
	text-align: center;
	border: 1px solid black;
	padding: 3px;
}

th{
    background-color:#e1e1e1;
    font-weight: bold;
    cursor: default;
}

table.sortable th:hover {
	text-decoration: underline;
}

td.button { margin : 0; padding: 0;}
table button.move {width: 100%;}

td.large { width: 100%; }

/* form */
label{
	display:block;
	min-width:30%;
	float:left;
	padding-left: 18px;
	padding-right: 18px;
}
/*used for the first headers of the skill matrix*/
.text_in_bottom {
	vertical-align: bottom;
	text-align: center;
}

/*** Verticalité des en-têtes de la matrice de compétences ***/

th.verticalite {
	height: 140px;
	padding: 10px;
	white-space: nowrap;
}

th.verticalite > div {
	/* 360 - 90 = 270 */
	transform-origin: 50% 100%;
	transform:
			rotate(270deg)
			translate(-60px, 10px);
	width: 10px;
	text-align: center;
}
th.verticalite > div > span {
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
}

/*** Couleurs du tableau de formations ***/

.formedNotValidated {
	background-color: #F48A00;
}

.learningFormation {
	background-color: #C82829;
}

.futureFormation{
	background-color: #0088CC;
}

.formedValidated {
	background-color: #629755;
}

.formedUnvalidated {
	background-color: #C8C8C8;
}

.formedToTeach {
	background-color: #ffcc00;
}

.text_legende {
	text-align: center;
}

/*************************/
/*** Couleurs diverses ***/
/*************************/
.error {
	color: red;
	font-style: italic;
}

/*************************/
/***   MENU DEROULANT  ***/
/*************************/
.menu-deroulant, .menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
}
.menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
.menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
.menu-deroulant a {
    display: block;
}
.menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}

.menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
	background-color: white;
	border-bottom: 1px solid #ccc;
}

/*** Spécifique aux pages ***/
/*.category_page {}*/

.entete_category {
	background-color: lightgray;
}

.formationName{
	background-color: dodgerblue;
    color:white;
    font-weight: bold;
    font-family: arial;
}

.task {
	background-color: lightgray;
}

.category {
	border: solid green;
	padding: 5%;
}

.category_title {
	font-size: 200%;
}

.sidebar_link {
	font-size: 150%;
}
.category > ul > li {
	line-height: 1.3em;
	padding-top: 5px;
	margin-left: 10px;
	list-style-type: disc;
}

.sidebar_link_formation {
	border: solid #66dd66;
}

.sidebar_link_category {
	border: solid #0088CC;
}

/*Validation des taches d'une FFO*/
.task_validator {
	text-align: right;
}


/*********************************/
/***   Page operatorformation  ***/
/*********************************/

.dates.operatorformation, .infos {
	margin: 9px;
}

.dates.operatorformation {
	float: right;
}

.sumup, .details {
	border: solid cornflowerblue;
	margin-bottom: 3%;
}

.sumup > legend, .details> legend{
	font-size: 150%;
}

.operatorformation_task_tab { margin-bottom: 2%; }

.infos.operatorformation {
	margin-bottom: 2%;
 	display: none;
}

.infos { float: left; }

.infos.tutor { width : 20%; }

.modif_category { margin-bottom: 2%; }

/****************/
/*** BORDERS ****/
/****************/

/***
    By theme
*/
.aeronautic {
	border-color: #00628A;
}

.aluminium {
	border-color: #D9D9D9;
}

.PCB {
	border-color: #E0B40F;
}

.EMS {
	border-color: #BBBE1F;
}
.environment {
	border-color: #BBBE1F;
}

/* Identical to environment */
.ecology {
	border-color: #BBBE1F;
}

/***
	Etat des formations
*/
.unvalidated_formation_sumup {
	border: solid 2px #C8C8C8;
}

.formedNotValidated_formation_sumup {
	border: solid 5px #F48A00;
}

.learningFormation_formation_sumup {
	border: solid 5px #C82829;
}

.futureFormation_formation_sumup {
	border: solid 5px #0088CC;
}

.formedValidated_formation_sumup {
	border: solid 5px #629755;
}

.formedToTeach_formation_sumup {
	border: solid 5px #ffcc00;
}

.ope_formations_array {
	max-width: 650px;
	max-height: 600px;
}

.ope_formations_array_elem {
	border: hidden;
}

.ope_formations_array_elem_legend {
	font-size: 20px;
}

/*.ope_formations_element { }*/

/***
	Forumulaire de connexion
*/
.connexion_form {
	display: block;
	text-align: center;
}

.contact_fieldset > legend {
	text-align: center;
}

.contact_fieldset {
	border: 3px solid black;
}


/* d3 */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}
