{% extends 'AppCofidurBundle::Page/Category/category.html.twig' %}

{% block body %}
    <h1>Modification d'une catégorie</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
