{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block sidebar_container %}{% endblock %}

{% block sidebar_nav %}
    {% if is_granted('ROLE_USER') %}
	<h2><a href="{{ path('AppCofidurBundle_formation_show_all') }}">Formations</a></h2>
    {% endif %}
	{% if is_granted('ROLE_ADMIN') %}
    <h2><a href="{{ path('AppCofidurBundle_operatorformation_show_all') }}">Formation d'opérateurs</a></h2>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
    <h2><a href="{{ path('AppCofidurBundle_skillMatrix') }}">Matrice de compétences des opérateurs</a></h2>
    {% endif %}
{% endblock %}
